body {
  font-family: 'Saira Condensed', sans-serif;
  /* background-color: blue; */
}
.padding_top_30 {
  padding-top: 30px;
}
.header-top {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 3;
  font-weight: bold;
  line-height: 80px;
}
/* .blocco_sinistra {
  height: 100px;
  background-color: red;
} */
.blocco_sinistra img {
  width: 70%;
  margin-top:0px;
  line-height: 50px;
  vertical-align: middle;
}
.blocco_destra .glyphicon {
  font-size: 30px;
  color: blue;
  line-height: 50px;
  vertical-align: middle;
}
}
.menu ul li {
  margin-top: 10px;
  margin-left: 10px;
  line-height: 50px;
  text-align: center;
}
.menu ul li a {
  color:#031b4e;
  font-weight: bold;
  font-size: 15px;
}
.menu ul li a:hover {
  color: #1ABC9C;
  text-decoration: none;
}
.btn_white {
  background-color: white;
  color: lightblue;
  border: 1px solid blue;
  border-radius: 2px;
}
/* jumbo */
.bg_blue {
  width: 100%;
  /* height: 450px; */
  margin-top: 80px;
  padding: 80px 0;
  background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
}
.jumbo_textarea {
  width: 80%;
  padding: 0 auto;
  /* margin: 20px auto; */
  /* color:white; */
}
.area_destra {
  /* margin-right: 10px; */
  /* width:50%; */
}
.area_destra h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
}
.area_destra p {
 font-size: 15px;
 line-height: 20px;
 color: white;
}
.area_sinistra {
  background-color: white;
  /* margin-left: 10px; */
  /* width: 50%; */
  /* height: 50px; */
}
.area_sinistra h2 {
  color:#031b4e;
  font-size: 30px;
  font-weight: bold;
}
.area_sinistra h3 {
  color: rgb(80, 146, 233);
  font-size: 30px;
  font-weight: bold;
}
#create {
  background-color: lightblue;
  color:white;
  height: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
#sign_up {
  height: 20px;
  /* text-align: left; */
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  /* border:1px solid lightgrey; */
}
.fab fa-google {
  text-align: right;
}
#google_icon {
  text-align: center;
  width: 15%;
  height: 20px;
  line-height: 70px;
  margin-top: 10px;
  vertical-align: middle;
}
#pulsante_iscrizione {
  border: 1px solid lightgrey;
}
#term {
  margin-top: 10px;
}

#first_section {

}
/* first_section */
.wrapper_60 {
  width: 70%;
  margin: 0 auto;
}

.ms_innovative p {
  text-align: center;
  color: grey;
  font-size: 15px;
  font-weight: bold;
}
.img_logo img {
  width:calc(100% / 2) -3px);
  display: inline-block;
}

.ms_customer p {
  text-align: center;
  color: blue;
  font-size: 15px;
  font-weight: bold;
}
/* second-section */

#deploy {
  /* background-color: lightgrey;
  height: 450px; */
}
.ms_deploy h2 {
  color: #031b4e;
  font-size: 40px;
  font-weight: bold;
}

.ms_deploy p {
  color:rgba(3,27,78,.7);
  font-size: 20px;

}
.words_list {
  border-left: 2px solid lightgrey;
  margin-left: 30px;
  margin-bottom: 30px;
  color: #031b4e;
}

.words_list li a {
  font-size: 60px;
  font-weight: bold;

  text-decoration: none;
  padding-left: 10px;
}
.words_list li a:hover {
  color:#031b4e;
}
.ms_icon {
  margin-left: 30px;
  color: blue;
  width: 30%;
}
.deploy_box h3 {
  margin-left: 30px;
  color:#031b4e;
  font-size: 30px;
  font-weight: bold;
}
.deploy_box p {
  margin-left: 40px
  color:rgba(3,27,78,.7);
  font-size: 20px;
}
.descriptions {
  background-color: rgb(41, 240, 28);
  margin-top: 10px;
}
/* third-section */

#designed {
  background-color: lightblue;
  /* height: 350px; */
}
.box_foto {
  margin-top: 30px;
  margin-bottom: 30px;
}
.screenshot_page {
  width: 400px;
}
.box_foto p {
  text-align: center;
  color:#031b4e;
  margin-top: 20px;
}
.button_slide {
  margin-top: 30px;
  margin-bottom: 30px;
}
.icon_circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  /* border: 2px solid lightblue; */
  /* font-size: 20px;
  text-align: center; */
}
/* fourth-section */

#feautures {
  background-color: white;
  /* height: 350px; */
}
.ms_feautures {
  margin-bottom: 20px;
}
.icon_business {
  color: blue;
  width: 1000%;
}
.business_needs h3 {
  color:#031b4e;
  font-size: 30px;
  font-weight: bold;
}
.business_needs p {
  color:rgba(3,27,78,.7);
  font-size: 20px;
  margin-bottom: 10px;
}
.business_needs p a {
  text-align: center;
  color: blue;
  font-size: 20px;
  /* font-weight: bold; */
}
.small_icon {
  width: 5px;
  color: blue;
}
/* fifth-section */

#service {
  background-color: blue;
  color:white;
  /* height: 350px; */
}
.ms_service {
  margin-bottom: 20px;
}
.ms_service h2 {
  font-size: 40px;
  font-weight: bold;
}
.city_table {
  border:none;
}
.sigla {
  border: none;
  font-size: 13px;
  padding: 11px 10px 10px;
  vertical-align: middle;
}
.città {
  border: none;
  font-size: 13px;
  padding: 11px 10px 10px;
  vertical-align: middle;
}
.velocità a {
  color:#00d7d2;
}
.velocità .velocity_icon {
  color:#00d7d2;
}
/* sistth-section */

#development {
  background-color: lightblue;
  height: 500px;
}
.screen_arrow_ {
  font-size: 80px;
  line-height: 40px;
}

.blue {
  color:blue;
  font-size: 30px;
}

.screen_arrow:before,
.screen_arrow:after {
  content: '';
  display: inline-block;
  width: 20%;
  height: 4px;
  margin: 0 20px;
  vertical-align: middle;

}
/* seventh-section */
#get_started {
  background-color: blue;
  padding-bottom: 30px;
}
.central_box {
  /* margin:0 auto; */
  color:white;
  font-size: 80px;
  font-weight: bold;
}
/* footer */
#footer {
  background-color: #010e28;
}
.info_contacts {
  color:hsla(0,0%,100%,.5);
}
.logo_footer {
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
}
.icon_social {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
.cambio_colore {
  color: hsla(0,0%,100%,.5);
}
.box_lists {
  color:white;
  /* color:hsla(0,0%,100%,.5); */
}
.box_lists li {
  margin-bottom: 10px;
}
.box_lists li:first-child {
  font-weight: bold;
  font-size: 25px;
  color:white;
}
.box_lists li a {
  font-size: 20px;

}
.box_contacts {
  background-color: rgb(22, 136, 92);
  margin-top: 10px;
  margin-bottom: 10px;
}
/* media-query */

@media screen and (max-width: 768px) {
  .img_logo img {
    width: calc(100% / 6) - 10px);
    display: inline-block;
}

@media screen and (min-width: 768px){
  .area_destra {
    width: 50%;
  }
  .area_sinistra {
    width: 50%;
  }
  .ms_service h2 {
    width: 100%;
  }
  }
}
@media screen and (min-width: 1200px) {

}
