body {
  /* background-color: blue; */
}
.padding_top_30 {
  padding-top: 30px;
}
.header-top {
  width: 100%;
  height: 200px;
  background-color: lightgrey;
}
.blocco_destra {
  height: 100px;
  background-color: red;
}
.blocco_centrale {
  height: 100px;
  background-color: blue;
}
.blocco_sinistra {
  height: 100px;
  background-color: orange;
}
.bg_blue {
  background-color: blue;
  width: 100%;
  height: 450px;
}
.area_destra {
  background-color: green;
  width: 50%;
  height: 50px;
}
.area_sinistra {
  background-color: purple;
  width: 50%;
  height: 50px;
}
#first_section {
  background-color: rgb(147, 214, 22);
  height: 350px;
}
.ms_innovative {
  background-color: rgb(184, 35, 77);
}
.box_img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: lightblue;
  border-radius: 5px;
  /* overflow: hidden;
  cursor: pointer; */
}
#deploy {
  background-color: lightgrey;
  height: 450px;
}
.ms_deploy {
  background-color: rgb(233, 235, 147);
  margin-bottom: 20px;
}
.words_list {
  background-color: rgb(116, 198, 171);
}
.ms_icon {
  background-color: rgb(69, 91, 55);
  margin-bottom: 10px;
}
.descriptions {
  background-color: rgb(41, 240, 28);
  margin-top: 10px;
}
#designated {
  background-color: lightblue;
  height: 350px;
}
.ms_designated {
  background-color: rgb(233, 235, 147);
  margin-top: 20px;
  margin-bottom: 20px;
}
.box_foto {
  background-color: rgb(218, 165, 104);
  margin-top: 30px;
  margin-bottom: 30px;
}
.button_slide {
  background-color: rgb(71, 41, 54);
  margin-top: 30px;
  margin-bottom: 30px;
}
#feautures {
  background-color: lightgrey;
  height: 350px;
}
.ms_feautures {
  background-color: rgb(32, 149, 153);
  margin-top: 20px;
  margin-bottom: 20px;
}
